*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    flex-direction: column;
    position: relative;
}

.header{
    height: 80px;
    width: 100%;
    background-color: lightcoral;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}


.detail{
    display: flex;
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay h1{
    color: red;
    font-size: 5rem;
}

.overlay h2{
    color: white;
}

.overlay button{
    margin-top: 20px;
    height: 34px;
    width: 88px;
    font-size: 1rem;
    background-color: blue;
    color: white;
    border: 3px solid black;
    cursor: pointer;
    transition: 0.5s all;

}


.detail button{
    margin-left: 2rem;
    width: 85px;
    background-color: red;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s all;
}

button:hover{
    transform: scale(1.2);
}

.box{
    height: 90px;
    width: 90px;
    border: 1px solid black;
    margin: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
}
.box:hover{
    transform: scale(1.1);
}   

img{
    height: 100%;
    width: 100%;
}

.container{
    height: auto;
    width: 90%;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}